body{
font-family: Arial;
padding:30px;
}

input,select,button{
padding:6px;
margin:5px;
}

table{
margin-top:20px;
border-collapse: collapse;
width:700px;
}

th,td{
border:1px solid #ccc;
padding:8px;
text-align:center;
}

th{
background:#f2f2f2;
cursor:pointer;
}




#noResult{
display:none;
margin-top:10px;
font-weight:bold;
color:red;
}

#stats{
margin-top:15px;
font-weight:bold;
}

.input-area{
margin-bottom:10px;
}

.filter-area{
margin-bottom:10px;
}